.SideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    border-bottom: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
}
.menu-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
    padding: 0;
}
.menu-container li{
    width: 95%;
    text-decoration: none;
    border-radius: 0.5rem;
    fill:#868686 ;
}
.menu-container li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 0.5rem;
    height: 44px;
    width: 100%;
    color: #0C0C0C;
    fill:#868686 ;
}
.menu-container .selected a{
    fill: #EDF1FE ;
    color: #EDF1FE;
    background-color: #202E67;
}
.menu-container li a .angle-down svg:nth-child(2) {
    display: none;
}
.menu-container .selected a .angle-down svg:nth-child(1) {
    display: none;
}
.menu-container .selected a .angle-down svg:nth-child(2) {
    display: block;
}
.menu-container .selected .list-box a{
    background-color: #EDF1FE;
    fill:  #4C6EF5;
    color: #4C6EF5;
}
.menu-container li a .angle-down{
    padding-left: 0.5rem;
}
.menu-container li ul{
    display:none;
}
.menu-container .selected ul{
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin: 1.5rem 0rem 1rem 0rem;
    gap: 0.8rem;
}
.menu-container .selected ul li.menu-selected{
    color:#4C6EF5 ;
}
.list-menu{
    display: flex;
    align-items: center;
    padding-right: 0.5rem;  
    gap: 0.5rem;
    align-items: center;
}
.comments-text img{
    border-radius: 10rem;
    margin: 0rem 2rem 2rem 0rem;
    padding: 0.7rem;
    background-color: #4C6EF5;
}