.data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.total-row-black{
    display: flex;
    justify-content: space-between;
}
.banner{
    display: flex;
    align-items: center;
    background-color: #EDF1FE;
    width: 100%;
    height: 323px;
    border-radius: 1rem;
}
.ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4C6EF5;
    font-size: 1rem;
    font-weight: 700;
    width: 60%;
}
.ad img{
    width: 100%;
}
.download-app{
    display: flex;
    width: 49%;
    flex-direction: column;
    color: #0C0C0C;
    gap: 1rem;
    align-items: center;
}
.download-app a img{
    width: 100%;
}