.titele-payment-change{
    display: flex;
}
.titele-payment-change .option-payment{
    width: 13%;
}
.titele-block{
    display: flex;   
}
.titele-block .option-payment{
    width: 14%;
}
.titele-block .option-payment:last-child{
    width: 20%;
}
.change-password{
    display: flex;
    flex-direction: column;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    padding: 1rem;
    gap: 2.5rem;
    width: 93%;
}
.haeder-change .button-haeder{
    width: 30%;
}
.help-change{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius:0.5rem;
    padding: 0.5rem;
    width: 93%;
    background-color: #F3F7FF;
    div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    p{
        color: #0D6EFD;
    }
}
.chenge-tik{
    width: 16%;

    button{
        width: 100%;
        cursor: pointer;
        font-family: "vazir";
        color: #fff;
        border-radius: 0.5rem;
        border:none;
        background-color: #4C6EF5;
        padding: 0.5rem;
    }
}
.change-password .profile-card{
    width: 60%;
}
.change-password .profile-card .card-amount{
    width: 63%;

    input{
        padding: 0.3rem;
    }
}
.card-origin{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    input{
        width: 16%;
        height: 26px;
        border: 1px solid #DFDFDF;
        border-radius: 0.2rem;
    }
    span{
        color: #DFDFDF;
    }
    button{
        border-radius: 0.3rem;
        border: 1px solid #DFDFDF;
        border-color: #DFDFDF;
        background-color: #fff;
        padding:0.4rem;
        margin-right: 0.3rem;
    }
}
.request-top{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.request-top .profile-card{
    width: 60%;
}
.request-top .profile-card .card-amount{
    width: 63%;

    input{
        padding: 0.3rem;
    }
}
.request-form{
    display: flex;
    gap: 4rem;
}