.titele-payment{
    display: flex;
}
.option-payment{
    display: flex;
    padding: 1rem 0rem 0rem 1rem;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
}
.option-payment:last-child{
    width: 15%;
}
.option-payment span{
    color: #757575;
    font-size: 0.9rem;
}
.option-payment:last-child span {
    color: #4c6ef5;
}
.money-transfer{
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.transmission{
    display: flex;
    flex-direction: column;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    padding: 1rem;
    gap: 2.5rem;
    width: 60%;
}
.haeder-transmission{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-haeder{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 0.5rem;
    justify-content: space-between;


    button{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: "vazir";
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 0.5rem;
        background-color: #EDF1FE;
        color: #364EAE;
    }
}
.button-haeder button:nth-child(1){
    background-color: #4564DF;
    color:#FFFFFF ;

}
.profile-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile-card span{
    color: #404040;
}
.card-origin{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    input{
        width: 21.7%;
        height: 26px;
        border: 1px solid #DFDFDF;
        border-radius: 0.2rem;
    }
    span{
        color: #DFDFDF;
    }
    button{
        border-radius: 0.3rem;
        border: 1px solid #DFDFDF;
        border-color: #DFDFDF;
        background-color: #fff;
        padding:0.4rem;
        margin-right: 0.3rem;
    }
}
.Cvv2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-Cvv2{
    display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    width: 79%;
    input{
        width: 70%;
        height: 26px;
        font-family: "vazir";
        border: 1px solid #DFDFDF;
        border-radius: 0.2rem;
    }   
}
.deta{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-deta{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 63%;
    gap: 0.5rem;
    input{
        width: 16%;
        height: 26px;
        font-family: "vazir";
        border: 1px solid #DFDFDF;
        border-radius: 0.3rem;
    }
}
.card-check{
    text-align: end;
    width: 73%;
    input{
        width: 24.7%;
        height: 26px;
        border: 1px solid #DFDFDF;
        border-radius: 0.2rem;
    }
    span{
        color: #DFDFDF;
    }
    button{
        border-radius: 0.3rem;
        border: 1px solid #DFDFDF;
        border-color: #DFDFDF;
        background-color: #fff;
        padding:0.4rem;
        margin-right: 0.3rem;
    }
}
.check-box{
    display: flex;
    width: 32%;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}
.switch{
    input{
        width: 45%;
    }
    span{
        padding: 0.5rem;
    }
}
.card-amount{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 64%;
    input{
        width: 90%;
        height: 26px;
        font-family: "vazir";
        border: 1px solid #DFDFDF;
        border-radius: 0.4rem;
    }
    span{
        color: #4564DF;
        font-size: 0.8rem;
    }   
}
.description{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 64%;
    input{
        width: 90%;
        height: 26px;
        font-family: "vazir";
        border: 1px solid #DFDFDF;
        border-radius: 0.4rem;
    }
    span{
        font-size: 0.8rem;
        color: #4C6EF5
    }
}
.giv-pass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.transmission a button{
    width: 25%;
    cursor: pointer;
    font-family: "vazir";
    font-size: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    background-color: #4C6EF5;
    padding: 0.66rem;
}
.transmission-help{
    display: flex;
    flex-direction: column;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    padding: 1rem;
    width: 30%;
    background-image: url(../assets/img/backgeran-help.jpg);
    p{
        font-size: 0.8rem ;
        color: #2A3D87;
        margin-top: 1rem;
    }
}
.transmission-help div:first-child p{
    color: #4564DF;
}
.transmission-help div:last-child p{
    color: #00A652;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
}
.money-transfer{
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.number-card{
    width: 62%;
    text-align: start;
    font-size: 1rem;
}
.number-card{
    width: 62%;
    text-align: start;
    font-size: 1rem;
}
.successful-payment{
    display: flex;
    justify-content: center;
}
.successful-payment .transmission {
    width: 50%;
    padding: 1.5rem;
}
.header-payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    span{
        font-size: 1.2rem;
        color: #00A652;
    }
}
.center-payment{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0rem 2rem 0rem;
    border-top: 1px solid #EDEDED;
    border-bottom: 3px dashed #EDEDED;
}
.center-payment > .profile-card >.number-card {
    width: 40%;
}
.footer-payment{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-payment > .profile-card >.number-card {
    width: 40%;
}
.property-payment{
    display: flex;
    justify-content: space-between;
}
.property-payment a{
    width: 49%;
}
.property-payment a button{
    width: 100%;
    background-color: #EDF1FE;

    span{
        color: #4C6EF5;
    }
}
.page {
    display: flex;
    flex-direction: column;
    gap: 3rem;  
    width: 73%;
    position: absolute;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}